* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
    /* font-family: 'Lemonada', cursive; */
    text-transform: capitalize;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

#header {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
    z-index: 1000;  
}

#header .logo img {
    height: 5rem;
}

#header .fa-hamburger {
    font-size: 4rem;
    color: #FFF200;
    cursor: pointer;
    display: none;
    z-index: 10000;
}

#header nav ul {
    display: flex;
}